@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css');

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.mainMid{
    width: 50%;
}
i{
    background-color: inherit;
}
button{
    all: unset;
}
header {
    background-color: #f2f5fd;
    padding: 10px 0;
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
}

header a {
    position: absolute;
    left: 10px; 
}

header h1 {
    flex-grow: 1;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.imgheader {
    max-width: 36px;
}

main {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f2f5fd;
    margin: 20px auto;
    border-radius: 8px; 
    padding: 20px;
}

footer {
    display: flex;
    justify-content:space-between;
    background-color: #2d53da;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p{
    margin: 0 20px;
    background-color: #2d53da;
}
footer span{
    font-weight: bold;
    background-color: #2d53da;
}


.newpost{
    margin: 14px 0px;
    font-weight: bold;
}
.button{
    background-color: #2d53da;
    color: #f2f5fd;
    padding: 8px 10px;
    border-radius: 8px;
}
.button:hover{
    background-color: #3e65f2;
    cursor: pointer;
}
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-header h2 {
    margin-right: 10px;
    margin: 20px 0; 
}

.post-header .button {
    margin-left: auto; 
    text-align: center;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #2d53da;
    color: #f2f5fd;
}

.post-header .button:hover {
    background-color: #3e65f2;
    cursor: pointer;
}

.postDetail{
    margin-bottom: 15px; 
    padding: 10px;
    background-color: #fff;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


ul {
    list-style-type: none; 
    padding-left: 0;
    margin-top: 20px; 
}

ul li {
    margin-bottom: 15px; 
    padding: 10px;
    background-color: #fff;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

ul a {
    color: #000; 
    font-weight: bold; 
    text-decoration: none; 
}

ul li p {
    margin: 5px 0 0 0; 
    font-size: 0.9em; 
    color: #888888; 
}

.fecha{
    margin: 5px 0 0 0; 
    font-size: 0.9em; 
    color: #888888; 
}







form {
    background-color: #f8f9fc; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
}

.formBg{
    background-color: #f8f9fc;
}

form h3 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2d53da;
}

form textarea {
    width: 96%;
    height: 60px; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c3c6cf;
    resize: none; 
}
form input{
    width: 96%;
    height: 6px; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c3c6cf;
}
form button {
    background-color: #2d53da;
    color: #f2f5fd;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: #3e65f2;
}

