{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog Taller{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blogTaller/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'post_list' %}">Blog Taller</a></h1>
    </header>
    <main>
        {% block content %}{% endblock %}
         
    </main>
    <footer>
        <p class="footer">© 2024 Blog Taller</p>
        <p class="footer">Creado por <span> Alexis Mansilla</span></p>
    </footer>
</body>
</html>
