{% extends 'blogTaller/base.html' %}

{% block title %}Publicaciones{% endblock %}

{% block content %}
    <h2>Publicaciones</h2>
    <ul>
        {% for post in posts %}
        <a href="{% url 'post_detail' post.id %}">
            <li>
                {{ post.title }}
                <p>{{ post.created_at }}</p>
            </li></a>
        {% endfor %}
    </ul>
    <div class="newpost">
        <a href="{% url 'post_new' %}" class="button">Crear nueva publicación</a>
    </div>
{% endblock %}